<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/veerr/IdeaProjects/RestAPITestLeafTraining/src/main/java/servicenow/chaining_incident/CreateIncidentWithoutBody.java"><classes><class name="servicenow.chaining_incident.CreateIncidentWithoutBody"><methods><include name="createIncidentWithoutBody"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/veerr/IdeaProjects/RestAPITestLeafTraining/src/main/java/servicenow/chaining_incident/UpdateIncident.java"><classes/></test></suite>